<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Cert" value="da048d586cf85b248c564950a8fc795d6781aa43"/>
		<add key="TcpAddress" value="Troppltchendri"/>
		<add key="TargetHost" value="TROPPLTCHENDRI.corp.tylertechnologies.com"/>
	</appSettings>
</configuration>