<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Cert" value="36a5731e64548d2b90c5e1f404615077c26b2bf2"/>
		<add key="RequireClientCert" value="false"/>
	</appSettings>
</configuration>